<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TodoApp · Phoenix Framework</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <nav class="blue">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Todo List</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <%= if @conn.assigns[:user] do %>
              <li><%= gettext "Olá, %{nome} |", nome: @conn.assigns.user.nome %></li>
              <li><%= link "Sair", to: Routes.auth_path(@conn, :logout, "github") %></li>
            <%= else %>
              <li><%= link "Entrar", to: Routes.auth_path(@conn, :request, "github") %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
